---
// About section component
---

<section id="about" class="section-wrapper">
  <!-- About Header -->
  <div class="flex flex-row items-center gap-6 md:gap-8">
    <div class="h-px w-full bg-zinc-700"></div>
    <h2
      class="text-end text-3xl font-semibold whitespace-nowrap md:text-4xl xl:text-5xl"
    >
      About<span class="text-violet-400">.</span>
    </h2>
  </div>

  <!-- About Paragraphs -->
  <div class="grid gap-12 md:gap-16">
    <div class="space-y-6 md:space-y-8">
      <p
        class="text-base leading-relaxed text-zinc-300 md:text-lg md:leading-relaxed"
      >
        Hi, I'm Rohan! I have over four years of experience in e-commerce and
        ed-tech, focused on building reliable and high-performing frontend
        interfaces.
      </p>
      <p
        class="text-base leading-relaxed text-zinc-300 md:text-lg md:leading-relaxed"
      >
        I specialize in creating user-friendly web interfaces with <span
          class="highlight">React</span
        >, <span class="highlight">Tailwind CSS</span> and <span
          class="highlight">JavaScript</span
        >, with a focus on clean code and intuitive design.
      </p>
      <p
        class="text-base leading-relaxed text-zinc-300 md:text-lg md:leading-relaxed"
      >
        I'm currently working at a food e-commerce company in Canada,
        contributing to scalable frontend systems and feature development.
      </p>
    </div>
  </div>

  <!-- Tech Stack -->
  <div class="relative">
    <div>
      <h4 class="mb-6 flex items-center">
        <i class="fa-solid fa-layer-group text-xl text-violet-400"></i>
        <span class="ml-2 font-bold">Tools & Technologies</span>
      </h4>

      <!-- Tags -->
      <div class="mb-12 flex flex-wrap gap-2">
        <!-- React -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            viewBox="0 0 256 256"
          >
            <g fill="none">
              <rect width="256" height="256" fill="#242938" rx="60"></rect>
              <path
                fill="#00D8FF"
                d="M128.001 146.951c10.304 0 18.656-8.353 18.656-18.656s-8.352-18.656-18.656-18.656s-18.656 8.353-18.656 18.656s8.353 18.656 18.656 18.656"
              ></path>
              <path
                stroke="#00D8FF"
                stroke-width="8.911"
                d="M128.002 90.363c25.048 0 48.317 3.594 65.862 9.635C215.003 107.275 228 118.306 228 128.295c0 10.409-13.774 22.128-36.475 29.649c-17.162 5.686-39.746 8.654-63.523 8.654c-24.378 0-47.463-2.786-64.819-8.717C41.225 150.376 28 138.506 28 128.295c0-9.908 12.41-20.854 33.252-28.12c17.61-6.14 41.453-9.812 66.746-9.812z"
                clip-rule="evenodd"></path>
              <path
                stroke="#00D8FF"
                stroke-width="8.911"
                d="M94.981 109.438c12.514-21.698 27.251-40.06 41.249-52.24c16.864-14.677 32.914-20.425 41.566-15.436c9.017 5.2 12.288 22.988 7.463 46.41c-3.645 17.707-12.359 38.753-24.238 59.351c-12.179 21.118-26.124 39.724-39.931 51.792c-17.471 15.272-34.362 20.799-43.207 15.698c-8.583-4.946-11.865-21.167-7.747-42.852c3.479-18.323 12.21-40.812 24.841-62.723z"
                clip-rule="evenodd"></path>
              <path
                stroke="#00D8FF"
                stroke-width="8.911"
                d="M95.012 147.578c-12.549-21.674-21.093-43.616-24.659-61.826c-4.293-21.941-1.258-38.716 7.387-43.72c9.009-5.216 26.052.834 43.934 16.712c13.52 12.004 27.403 30.061 39.316 50.639c12.214 21.098 21.368 42.473 24.929 60.461c4.506 22.764.859 40.157-7.978 45.272c-8.574 4.964-24.265-.291-40.996-14.689c-14.136-12.164-29.26-30.959-41.933-52.849Z"
                clip-rule="evenodd"></path>
            </g>
          </svg>
          <span>React</span>
        </div>

        <!-- TypeScipt -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            viewBox="0 0 73 73"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>build-tools/typescript</title>
              <desc>Created with Sketch.</desc>
              <defs>
                <rect id="path-1" x="4" y="4" width="69" height="69" rx="14">
                </rect>
              </defs>
              <g
                id="build-tools/typescript"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g id="container" transform="translate(-2.000000, -2.000000)">
                  <rect
                    id="mask"
                    stroke="#003355"
                    stroke-width="2"
                    fill="#FFFFFF"
                    fill-rule="nonzero"
                    x="3"
                    y="3"
                    width="71"
                    height="71"
                    rx="14"
                  >
                  </rect>
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"> </use>
                  </mask>
                  <rect
                    stroke="#003355"
                    stroke-width="2"
                    x="3"
                    y="3"
                    width="71"
                    height="71"
                    rx="14"
                  >
                  </rect>
                  <g
                    id="logo"
                    mask="url(#mask-2)"
                    fill="#007ACC"
                    fill-rule="nonzero"
                  >
                    <g
                      id="Group"
                      transform="translate(36.500000, 36.500000) scale(-1, 1) rotate(-180.000000) translate(-36.500000, -36.500000) "
                    >
                      <path
                        d="M0,36.5 L0,0 L36.5,0 L73,0 L73,36.5 L73,73 L36.5,73 L0,73 L0,36.5 Z M58.8287302,39.4084127 C60.6826984,38.9449206 62.0963492,38.1222222 63.394127,36.7780952 C64.0661905,36.0596825 65.0626984,34.7503175 65.1438095,34.4374603 C65.1669841,34.3447619 61.9920635,32.2126984 60.0685714,31.0192063 C59.9990476,30.9728571 59.7209524,31.274127 59.4080952,31.737619 C58.4695238,33.1049206 57.4846032,33.695873 55.978254,33.8001587 C53.7650794,33.9507937 52.3398413,32.7920635 52.3514286,30.8569841 C52.3514286,30.2892063 52.4325397,29.9531746 52.6642857,29.4896825 C53.1509524,28.4815873 54.0547619,27.8790476 56.8936508,26.6507937 C62.1195238,24.4028571 64.355873,22.9196825 65.7463492,20.8107937 C67.2990476,18.4585714 67.6466667,14.7042857 66.5922222,11.911746 C65.4334921,8.87587302 62.5598413,6.81333333 58.515873,6.12968254 C57.2644444,5.90952381 54.2980952,5.94428571 52.9539683,6.18761905 C50.022381,6.70904762 47.2414286,8.15746032 45.5265079,10.0577778 C44.8544444,10.7993651 43.5450794,12.7344444 43.6261905,12.8734921 C43.6609524,12.9198413 43.9622222,13.1052381 44.298254,13.3022222 C44.6226984,13.487619 45.8509524,14.1944444 47.0096825,14.8665079 L49.1069841,16.0831746 L49.5473016,15.4342857 C50.1614286,14.4957143 51.5055556,13.2095238 52.3166667,12.7807937 C54.6457143,11.5525397 57.8438095,11.7263492 59.4196825,13.14 C60.091746,13.754127 60.3698413,14.3914286 60.3698413,15.33 C60.3698413,16.175873 60.2655556,16.5466667 59.8252381,17.1839683 C59.2574603,17.9950794 58.0987302,18.6787302 54.8079365,20.1039683 C51.0420635,21.7261905 49.4198413,22.7342857 47.9366667,24.3333333 C47.0792063,25.2603175 46.2680952,26.7434921 45.9320635,27.9833333 C45.6539683,29.0146032 45.5844444,31.5985714 45.8046032,32.6414286 C46.5809524,36.2798413 49.3271429,38.8174603 53.29,39.5706349 C54.5761905,39.8139683 57.5657143,39.7212698 58.8287302,39.4084127 Z M41.6911111,36.3609524 L41.7142857,33.3714286 L36.9634921,33.3714286 L32.2126984,33.3714286 L32.2126984,19.8722222 L32.2126984,6.37301587 L28.852381,6.37301587 L25.4920635,6.37301587 L25.4920635,19.8722222 L25.4920635,33.3714286 L20.7412698,33.3714286 L15.9904762,33.3714286 L15.9904762,36.3030159 C15.9904762,37.9252381 16.0252381,39.2809524 16.0715873,39.3157143 C16.1063492,39.3620635 21.8884127,39.3852381 28.8987302,39.3736508 L41.6563492,39.3388889 L41.6911111,36.3609524 Z"
                        id="Shape"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g>
            </g></svg
          >
          <span>TypeScript</span>
        </div>

        <!-- Node.js -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--vscode-icons"
            viewBox="0 0 32 32"
          >
            <path
              fill="#83cd29"
              d="M16 30a2.15 2.15 0 0 1-1.076-.288L11.5 27.685c-.511-.286-.262-.387-.093-.446a6.8 6.8 0 0 0 1.549-.7a.26.26 0 0 1 .255.019l2.631 1.563a.34.34 0 0 0 .318 0l10.26-5.922a.32.32 0 0 0 .157-.278V10.075a.33.33 0 0 0-.159-.283l-10.26-5.917a.32.32 0 0 0-.317 0L5.587 9.794a.33.33 0 0 0-.162.281v11.841a.32.32 0 0 0 .161.274L8.4 23.814c1.525.762 2.459-.136 2.459-1.038V11.085a.3.3 0 0 1 .3-.3h1.3a.3.3 0 0 1 .3.3v11.692c0 2.035-1.108 3.2-3.038 3.2a4.4 4.4 0 0 1-2.363-.642l-2.697-1.547a2.17 2.17 0 0 1-1.076-1.872V10.075A2.16 2.16 0 0 1 4.661 8.2l10.261-5.924a2.25 2.25 0 0 1 2.156 0L27.338 8.2a2.17 2.17 0 0 1 1.077 1.87v11.846a2.17 2.17 0 0 1-1.077 1.872l-10.26 5.924A2.15 2.15 0 0 1 16 30"
            ></path>
            <path
              fill="#83cd29"
              d="M14.054 17.953a.3.3 0 0 1 .3-.3h1.327a.3.3 0 0 1 .295.251c.2 1.351.8 2.032 3.513 2.032c2.161 0 3.082-.489 3.082-1.636c0-.661-.261-1.152-3.62-1.481c-2.808-.278-4.544-.9-4.544-3.144c0-2.07 1.745-3.305 4.67-3.305c3.287 0 4.914 1.141 5.12 3.589a.3.3 0 0 1-.295.323h-1.336a.3.3 0 0 1-.288-.232c-.319-1.421-1.1-1.875-3.2-1.875c-2.36 0-2.634.822-2.634 1.438c0 .746.324.964 3.51 1.385c3.153.417 4.651 1.007 4.651 3.223c0 2.236-1.864 3.516-5.115 3.516c-4.495.006-5.436-2.055-5.436-3.784"
            ></path>
          </svg>
          Node.js
        </div>
        <!-- Next.js -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            width="36"
            height="64"
          >
            <path
              d="M64 0C28.7 0 0 28.7 0 64s28.7 64 64 64c11.2 0 21.7-2.9 30.8-7.9L48.4 55.3v36.6h-6.8V41.8h6.8l50.5 75.8C116.4 106.2 128 86.5 128 64c0-35.3-28.7-64-64-64zm22.1 84.6l-7.5-11.3V41.8h7.5v42.8z"
              fill="#007ACC"></path>
          </svg>
          Next.js
        </div>
        <!-- Express.js -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--simple-icons"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M24 18.588a1.53 1.53 0 0 1-1.895-.72l-3.45-4.771l-.5-.667l-4.003 5.444a1.466 1.466 0 0 1-1.802.708l5.158-6.92l-4.798-6.251a1.595 1.595 0 0 1 1.9.666l3.576 4.83l3.596-4.81a1.435 1.435 0 0 1 1.788-.668L21.708 7.9l-2.522 3.283a.666.666 0 0 0 0 .994l4.804 6.412zM.002 11.576l.42-2.075c1.154-4.103 5.858-5.81 9.094-3.27c1.895 1.489 2.368 3.597 2.275 5.973H1.116C.943 16.447 4.005 19.009 7.92 17.7a4.08 4.08 0 0 0 2.582-2.876c.207-.666.548-.78 1.174-.588a5.42 5.42 0 0 1-2.589 3.957a6.27 6.27 0 0 1-7.306-.933a6.58 6.58 0 0 1-1.64-3.858c0-.235-.08-.455-.134-.666A88 88 0 0 1 0 11.577zm1.127-.286h9.654c-.06-3.076-2.001-5.258-4.59-5.278c-2.882-.04-4.944 2.094-5.071 5.264z"
            ></path>
          </svg>
          Express.js
        </div>
        <!-- JavaScript -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--skill-icons"
            viewBox="0 0 256 256"
          >
            <g fill="none">
              <rect width="256" height="256" fill="#F0DB4F" rx="60"></rect>
              <path
                fill="#323330"
                d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.889-3.092 12.889-15.12v-81.798h24.058v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.579c-17.357-7.388-28.871-16.668-28.871-36.258c0-18.044 13.748-31.792 35.229-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.731 12.029c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.139 14.778 14.608l6.014 2.577c20.449 8.765 31.963 17.699 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"
              >
              </path>
            </g>
          </svg>
          JavaScript
        </div>
        <!-- Redux -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            width="36"
            height="64"
          >
            <path
              fill="#764abc"
              d="M88.69 88.11c-9 18.4-24.76 30.78-45.61 34.85a39.73 39.73 0 0 1-9.77 1.14c-12 0-23-5-28.34-13.19C-2.2 100-4.64 76.87 19 59.76c.48 2.61 1.46 6.19 2.11 8.31A38.24 38.24 0 0 0 10 81.1c-4.4 8.64-3.91 17.27 1.3 25.25 3.6 5.38 9.3 8.65 16.63 9.65a44 44 0 0 0 26.55-5c12.71-6.68 21.18-14.66 26.72-25.57a9.32 9.32 0 0 1-2.61-6A9.12 9.12 0 0 1 87.37 70h.34a9.15 9.15 0 0 1 1 18.25zm28.67-20.2c12.21 13.84 12.54 30.13 7.82 39.58-4.4 8.63-16 17.27-31.6 17.27a50.48 50.48 0 0 1-21-5.05c2.29-1.63 5.54-4.24 7.33-5.87a41.54 41.54 0 0 0 16 3.42c10.1 0 17.75-4.72 22.31-13.35 2.93-5.7 3.1-12.38.33-19.22a43.61 43.61 0 0 0-17.27-20.85 62 62 0 0 0-34.74-10.59h-2.93a9.21 9.21 0 0 1-8 5.54h-.31a9.13 9.13 0 0 1-.3-18.25h.33a9 9 0 0 1 8 4.89h2.61c20.8 0 39.06 7.98 51.42 22.48zm-82.75 23a7.31 7.31 0 0 1 1.14-4.73c-9.12-15.8-14-35.83-6.51-56.68C34.61 13.83 48.13 3.24 62.79 3.24c15.64 0 31.93 13.69 33.88 40.07-2.44-.81-6-2-8.14-2.44-.53-8.63-7.82-30.13-25.09-29.81-6.19.17-15.31 3.1-20 9.12a43.69 43.69 0 0 0-9.64 25.25 59.61 59.61 0 0 0 8.47 36.16 2.75 2.75 0 0 1 1.14-.16h.32a9.121 9.121 0 0 1 .33 18.24h-.33a9.16 9.16 0 0 1-9.12-8.79z"
            ></path>
          </svg>
          Redux
        </div>

        <!-- HTML -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--skill-icons"
            width="36"
            height="64"
            viewBox="0 0 256 256"
          >
            <g fill="none">
              <rect width="256" height="256" fill="#E14E1D" rx="60"></rect>
              <path
                fill="#fff"
                d="m48 38l8.61 96.593h110.71l-3.715 41.43l-35.646 9.638l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l65.51-18.172l8.783-98.061H85.824l-2.923-32.71h122.238L208 38z"
              ></path>
              <path
                fill="#EBEBEB"
                d="M128 38H48l8.61 96.593H128v-31.938H85.824l-2.923-32.71H128zm0 147.647l-.041.014l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l.049-.014z"
              ></path>
            </g>
          </svg>
          HTML
        </div>

        <!-- CSS -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--skill-icons"
            width="36"
            height="64"
            viewBox="0 0 256 256"
          >
            <g fill="none">
              <rect width="256" height="256" fill="#0277BD" rx="60"></rect>
              <path
                fill="#EBEBEB"
                d="m53.753 102.651l2.862 31.942h71.481v-31.942zM128.095 38H48l2.904 31.942h77.191zm0 180.841v-33.233l-.14.037l-35.574-9.605l-2.274-25.476H58.042l4.475 50.154l65.431 18.164z"
              ></path>
              <path
                fill="#fff"
                d="m167.318 134.593l-3.708 41.426l-35.625 9.616v33.231l65.483-18.148l.48-5.397l7.506-84.092l.779-8.578L208 38h-80.015v31.942h45.009l-2.906 32.709h-42.103v31.942z"
              ></path>
            </g>
          </svg>CSS
        </div>

        <!-- Tailwind CSS -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            fill="#000000"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            ><path
              fill="#00bcff"
              clip-rule="evenodd"
              d="M12 6.036c-2.667 0-4.333 1.325-5 3.976 1-1.325 2.167-1.822 3.5-1.491.761.189 1.305.738 1.906 1.345C13.387 10.855 14.522 12 17 12c2.667 0 4.333-1.325 5-3.976-1 1.325-2.166 1.822-3.5 1.491-.761-.189-1.305-.738-1.907-1.345-.98-.99-2.114-2.134-4.593-2.134zM7 12c-2.667 0-4.333 1.325-5 3.976 1-1.326 2.167-1.822 3.5-1.491.761.189 1.305.738 1.907 1.345.98.989 2.115 2.134 4.594 2.134 2.667 0 4.333-1.325 5-3.976-1 1.325-2.167 1.822-3.5 1.491-.761-.189-1.305-.738-1.906-1.345C10.613 13.145 9.478 12 7 12z"
            ></path></svg
          >
          TailwindCSS
        </div>

        <!-- Material UI -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--logos"
            width="36"
            height="64"
            viewBox="0 0 256 222"
          >
            <path
              fill="#007FFF"
              d="M215.771 151.107a7.11 7.11 0 0 0 3.57-6.144l.128-41.153a7.11 7.11 0 0 1 3.57-6.145l22.308-12.814A7.11 7.11 0 0 1 256 91.016v74.818a7.11 7.11 0 0 1-3.57 6.166l-84.19 48.357a7.11 7.11 0 0 1-7.07.007l-66.07-37.79a7.11 7.11 0 0 1-3.585-6.172v-37.726c0-.042.05-.07.093-.05c.035.022.085 0 .085-.05v-.042c0-.028.014-.057.043-.071l54.416-31.261c.05-.029.028-.107-.029-.107a.057.057 0 0 1-.057-.057l.107-36.986a7.111 7.111 0 0 0-10.667-6.187L95.064 87.17a7.11 7.11 0 0 1-7.097 0l-40.57-23.36a7.11 7.11 0 0 0-10.66 6.158v66.846a7.11 7.11 0 0 1-10.638 6.18L3.584 130.12A7.11 7.11 0 0 1 0 123.935L.2 7.095A7.11 7.11 0 0 1 10.851.946L87.974 45.24a7.11 7.11 0 0 0 7.083 0l77.1-44.296a7.11 7.11 0 0 1 10.653 6.172v116.867a7.11 7.11 0 0 1-3.562 6.166l-40.378 23.254a7.111 7.111 0 0 0 .028 12.338l22.273 12.68a7.11 7.11 0 0 0 7.061-.015zm4.672-104.835a7.111 7.111 0 0 0 10.767 6.094l21.334-12.8A7.11 7.11 0 0 0 256 33.472V7.387A7.111 7.111 0 0 0 245.233 1.3L223.9 14.1a7.11 7.11 0 0 0-3.457 6.095v26.084z"
            ></path>
          </svg>Material UI
        </div>

        <!-- Firebase -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            width="36"
            height="64"
          >
            <path
              fill="#f58220"
              d="M27.35 80.52l10.68-68.44c.37-2.33 3.5-2.89 4.6-.8l11.48 21.48-26.76 47.76zm75.94 16.63L93.1 34.11c-.31-1.96-2.76-2.76-4.17-1.35L24.71 97.15l35.54 19.95a7.447 7.447 0 007.18 0l35.86-19.95zm-28.85-55L66.21 26.5c-.92-1.78-3.44-1.78-4.36 0L25.7 90.95l48.74-48.8z"
            ></path>
          </svg>Firebase
        </div>

        <!-- MongoDB -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--devicon"
            width="36"
            height="64"
            viewBox="0 0 128 128"
          >
            <path
              fill="#94795D"
              fill-rule="evenodd"
              d="M87.259 100.139c.169-.325.331-.612.469-.909c.087-.19.221-.228.41-.223c1.133.032 2.266.067 3.4.078c.963.01 1.928-.008 2.892-.019c1.086-.013 2.172-.07 3.257-.039c1.445.042 2.853.325 4.16.968c1.561.769 2.742 1.94 3.547 3.483a8.7 8.7 0 0 1 .931 3.14c.172 1.608.059 3.179-.451 4.717c-.632 1.906-1.832 3.365-3.499 4.458c-1.283.841-2.69 1.338-4.198 1.622c-1.596.301-3.197.204-4.798.209c-1.756.007-3.511-.031-5.267-.051c-.307-.003-.351-.061-.27-.354l.075-.27c.171-.538.263-.562.809-.652a2.8 2.8 0 0 0 1.087-.413c.184-.122.26-.44.332-.685c.062-.214.065-.449.067-.675c.025-3.425.051-6.849.065-10.272a44 44 0 0 0-.065-2.596c-.034-.605-.357-1.019-1.077-1.162c-.56-.111-1.124-.197-1.687-.296zm16.076 8.293c-.076-.682-.113-1.37-.235-2.042c-.292-1.613-.998-3.018-2.238-4.119c-2.005-1.779-4.419-2.053-6.949-1.841c-.576.048-.7.245-.709.837c-.014.84-.028 1.68-.029 2.52q-.006 3.996 0 7.992q0 1.138.031 2.272c.024.774.305 1.429 1.063 1.729c1.195.473 2.452.529 3.706.336c2.003-.307 3.404-1.474 4.344-3.223c.744-1.388.954-2.903 1.016-4.461m4.869 9.071c-.024-.415.146-.758.356-1.073c.057-.085.253-.081.388-.108l1.146-.227c.405-.086.618-.358.675-.755c.038-.262.074-.527.077-.792a880 880 0 0 0 .059-6.291c.01-2.1.002-4.2.002-6.3l-.009-.401c-.041-.675-.367-1.025-1.037-1.124l-1.453-.221c-.179-.024-.244-.11-.179-.269c.112-.271.219-.552.377-.796c.059-.09.258-.125.392-.122c.694.01 1.388.062 2.082.061l6.041-.036c1.164-.001 2.288.202 3.332.759c1.149.612 1.792 1.559 1.976 2.849c.192 1.355-.219 2.497-1.209 3.404c-.407.374-.934.618-1.406.922l-.154.096c.438.161.855.3 1.261.466c1.188.487 2.133 1.248 2.633 2.463c.395.959.395 1.959.161 2.953c-.364 1.556-1.389 2.591-2.722 3.374c-1.251.735-2.605 1.163-4.047 1.235c-1.33.067-2.666.042-3.999.057l-.772.004a996 996 0 0 1-3.854-.096zm5.537-6.089h.013c0 .658-.009 1.316.003 1.974c.008.426-.007.864.085 1.274c.138.613.418 1.166 1.106 1.342a6.7 6.7 0 0 0 2.818.124c1.177-.205 2.116-.795 2.631-1.916c.382-.833.439-1.716.308-2.618c-.174-1.188-.805-2.05-1.854-2.615c-.688-.371-1.422-.598-2.204-.628c-.876-.033-1.753-.035-2.629-.062c-.246-.007-.28.118-.279.32c.005.934.002 1.869.002 2.805m1.865-4.475c.479-.024 1.021-.031 1.56-.085c1.032-.103 1.759-.622 2.138-1.609c.193-.501.185-1.017.19-1.538c.015-1.357-.777-2.469-2.066-2.929c-.995-.355-2.021-.361-3.053-.333c-.418.011-.605.194-.611.615l-.062 5.489c-.003.218.091.312.303.319z"
              clip-rule="evenodd"></path>
            <path
              fill="#50382B"
              fill-rule="evenodd"
              d="m10.543 116.448l-.073.944c-.68 0-1.307-.005-1.934.002c-1.181.012-2.362.031-3.544.048l-.114.007c-.169-.02-.476-.02-.484-.07c-.05-.281-.034-.576-.021-.867c.001-.033.116-.075.183-.091l.919-.205c.573-.149.775-.396.802-.988c.031-.667.062-1.335.065-2.002c.009-1.642-.001-3.282.006-4.924c.001-.384-.132-.67-.49-.826a44 44 0 0 0-1.285-.546c-.204-.082-.469-.127-.445-.401c.024-.279.281-.352.523-.407c1.002-.229 2.005-.452 3.004-.696c.322-.079.63-.212 1.015-.346c.02.208.057.406.053.604l-.059.941c-.001.106.054.248.133.307c.048.037.209-.03.289-.092c.854-.65 1.758-1.211 2.789-1.538c1.597-.507 2.968-.037 3.928 1.34c.338.485.339.485.808.146c.805-.585 1.647-1.101 2.589-1.441c2.068-.747 4.055.201 4.774 2.284c.262.756.362 1.537.36 2.335l-.019 5.298c-.001.437.144.686.56.822c.467.153.951.258 1.477.396l-.122.911c-.598 0-1.148-.004-1.698.001c-1.344.012-2.688.019-4.031.05c-.234.006-.295-.052-.307-.271c-.039-.701-.045-.7.615-.858l.222-.057c.645-.176.86-.374.865-1.028c.015-1.878.054-3.761-.041-5.635c-.099-1.944-1.642-2.979-3.526-2.481a5.2 5.2 0 0 0-1.69.814c-.175.125-.208.269-.194.488q.081 1.242.093 2.486c.012 1.451-.006 2.902 0 4.354c.002.588.203.813.784.949l.863.199l.16.036c.012.276.023.552.01.828c-.008.173-.142.188-.292.185c-.839-.021-1.679-.049-2.518-.047c-1.021.002-2.041.031-3.061.049h-.24c0-.293-.014-.573.01-.852c.005-.067.123-.161.204-.182l1.006-.213c.427-.105.631-.324.655-.758c.114-2.01.196-4.021.007-6.03a3.7 3.7 0 0 0-.326-1.145c-.515-1.138-1.674-1.613-3.011-1.271c-.635.162-1.208.453-1.75.82a.8.8 0 0 0-.378.695q.002 3.008.013 6.014l.011.773c.012.539.241.823.776.939c.344.078.692.131 1.082.203"
              clip-rule="evenodd"></path>
            <path
              fill="#4F382B"
              fill-rule="evenodd"
              d="M71.001 105.285c.155.754.152 1.432-.402 1.946c-.55.511-1.246.339-1.925.225c.063.358.133.662.167.97c.247 2.289-.738 3.988-2.861 4.959c-.802.366-1.653.502-2.522.572c-.432.034-.81.364-.851.719c-.042.36.184.73.636.838c.533.127 1.089.163 1.636.226c1.174.134 2.361.195 3.521.405c1.754.316 2.733 1.847 2.424 3.609c-.275 1.568-1.183 2.709-2.449 3.584c-2.133 1.478-4.473 1.91-6.965 1.156c-1.425-.432-2.43-1.369-2.777-2.885c-.174-.759.011-1.446.582-1.961c.679-.61 1.418-1.154 2.129-1.73l.23-.231l-.264-.185c-.725-.344-1.305-.815-1.53-1.633c-.077-.277.003-.459.238-.601q.6-.361 1.193-.735c.186-.116.37-.236.543-.37c.236-.18.215-.314-.067-.418c-.656-.242-1.239-.593-1.691-1.133c-.755-.901-.969-1.974-.907-3.107c.097-1.77 1.058-2.936 2.62-3.686c1.857-.891 3.72-.947 5.613-.135c.7.3 1.438.364 2.189.312c.561-.04 1.051-.252 1.49-.711m-6.843 12.681c-1.394-.012-1.831.16-2.649.993c-.916.934-.911 2.229.003 3.167c.694.711 1.56 1.044 2.523 1.144c1.125.116 2.233.069 3.255-.494c1.09-.603 1.632-1.723 1.387-2.851c-.203-.931-.889-1.357-1.724-1.602c-.95-.278-1.932-.331-2.795-.357m-2.738-8.908c.051.387.072.779.158 1.158c.223.982.65 1.845 1.627 2.282c1.147.515 2.612.294 3.114-1.316a4.85 4.85 0 0 0-.113-3.274a2.5 2.5 0 0 0-.91-1.184c-.996-.695-2.793-.787-3.525.749c-.238.499-.331 1.03-.351 1.585"
              clip-rule="evenodd"></path>
            <path
              fill="#4F372B"
              fill-rule="evenodd"
              d="M47.35 105.038c.037.171.111.365.113.56c.003.371-.037.742-.058 1.113v.322l.314-.24c.86-.708 1.784-1.311 2.86-1.636c1.942-.585 3.882.478 4.515 2.456c.24.752.335 1.525.344 2.311c.02 1.746.032 3.492.05 5.238c.006.627.078.739.671.92a7.4 7.4 0 0 0 1.03.229c.191.03.273.105.263.292l.002.172c-.007.723-.057.756-.758.754c-1.678-.003-3.355.007-5.033.021c-.5.004-.501.019-.551-.475l-.01-.284c.031-.426.041-.422.46-.484c.282-.042.562-.107.837-.179c.283-.073.419-.282.457-.562c.019-.142.044-.284.043-.426c-.024-1.908.007-3.818-.097-5.723c-.084-1.541-1.26-2.459-2.807-2.354a4.05 4.05 0 0 0-2.071.743c-.413.289-.496.706-.494 1.155q.014 2.676.044 5.353c.004.391.015.782.052 1.17c.039.424.188.595.604.687c.398.088.804.139 1.229.21l.036.328c.014.765-.066.822-.809.819c-1.735-.007-3.47.004-5.204.023c-.273.004-.389-.082-.382-.348l-.004-.114c-.045-.689-.025-.715.627-.827l.308-.062c.706-.159.887-.347.897-1.064c.033-2.271.045-4.541.068-6.812c.003-.326-.12-.579-.424-.714a54 54 0 0 0-1.287-.544c-.238-.098-.51-.16-.519-.489c-.006-.232.242-.437.581-.506c.681-.138 1.368-.253 2.041-.422c.67-.167 1.328-.391 2.062-.611"
              clip-rule="evenodd"></path>
            <path
              fill="#4F382B"
              fill-rule="evenodd"
              d="M84.865 110.97c-.032 2.121-.583 3.836-2.083 5.123c-1.9 1.633-4.864 2.188-7.287.967c-1.034-.521-1.794-1.32-2.289-2.357c-.759-1.595-.949-3.272-.553-4.99c.392-1.699 1.421-2.93 2.961-3.727c1.584-.819 3.252-1.139 5.011-.709c2.225.543 3.824 2.357 4.142 4.667c.057.405.079.815.098 1.026m-2.577 1.149l-.086-.01c0-.2.011-.4-.002-.6c-.073-1.246-.353-2.433-1.075-3.476c-.685-.988-1.618-1.571-2.832-1.656c-1.359-.096-2.501.664-2.902 2.052c-.602 2.084-.398 4.115.66 6.024c.461.832 1.144 1.446 2.059 1.769c1.793.631 3.383-.186 3.85-2.022c.172-.678.222-1.387.328-2.081"
              clip-rule="evenodd"></path>
            <path
              fill="#4F372B"
              fill-rule="evenodd"
              d="M40.819 111.134c-.037 1.522-.396 2.929-1.336 4.152c-1.007 1.31-2.391 2.01-3.965 2.305c-1.861.348-3.609.032-5.104-1.217c-.71-.594-1.195-1.355-1.515-2.221c-.525-1.42-.656-2.875-.333-4.358c.345-1.587 1.241-2.8 2.63-3.614c1.606-.939 3.339-1.358 5.19-.936c2.38.544 3.754 2.095 4.262 4.443c.102.474.116.964.171 1.446m-2.606 1.004l-.069-.01v-.286c-.039-1.396-.312-2.726-1.145-3.886c-.617-.861-1.443-1.401-2.502-1.552c-1.726-.246-2.854.778-3.228 2.169c-.488 1.817-.335 3.612.42 5.335c.471 1.074 1.215 1.911 2.358 2.317c1.782.633 3.396-.205 3.847-2.034c.166-.669.216-1.367.319-2.053"
              clip-rule="evenodd"></path>
            <path
              fill="#439934"
              fill-rule="evenodd"
              d="M82.362 33.544c1.227 3.547 2.109 7.168 2.4 10.92c.36 4.656.196 9.28-.786 13.859l-.126.366c-.308.001-.622-.038-.923.009c-2.543.4-5.083.814-7.624 1.226c-2.627.426-5.256.835-7.878 1.289c-.929.16-2.079-.031-2.454 1.253l-.18.061l.127-7.678l-.129-18.526l1.224-.21c2.001-.327 4.002-.66 6.006-.979c2.39-.379 4.782-.749 7.174-1.119c1.056-.162 2.113-.313 3.169-.471"
              clip-rule="evenodd"></path>
            <path
              fill="#45A538"
              fill-rule="evenodd"
              d="M62.265 84.911c-1.291-1.11-2.627-2.171-3.864-3.339c-6.658-6.28-11.529-13.673-13.928-22.586c-.661-2.452-1.101-4.945-1.243-7.479c-.1-1.774-.243-3.563-.117-5.328c.333-4.693 1.012-9.341 2.388-13.862l.076-.105c.134.178.326.336.394.537q2.015 5.934 4.004 11.879c4.169 12.451 8.333 24.905 12.509 37.354c.082.243.293.442.445.661z"
              clip-rule="evenodd"></path>
            <path
              fill="#46A037"
              fill-rule="evenodd"
              d="M82.362 33.544c-1.057.157-2.114.309-3.169.471c-2.392.37-4.784.74-7.174 1.119c-2.003.318-4.004.651-6.006.979l-1.224.21l-.01-.798c-.041-.656-.109-1.312-.118-1.968l-.137-12.554c-.032-2.619-.08-5.238-.133-7.856a198 198 0 0 0-.141-4.88c-.04-.873-.181-1.742-.237-2.615c-.033-.502.011-1.008.022-1.512c.624 1.209 1.235 2.427 1.876 3.627c1.013 1.897 2.628 3.295 4.083 4.82c5.746 6.031 9.825 13.039 12.368 20.957"
              clip-rule="evenodd"></path>
            <path
              fill="#409433"
              fill-rule="evenodd"
              d="m64.792 62.527l.18-.061c.375-1.284 1.525-1.093 2.454-1.253c2.622-.454 5.251-.863 7.878-1.289c2.541-.411 5.081-.825 7.624-1.226c.301-.047.615-.008.923-.009c-.475 1.696-.849 3.429-1.452 5.078c-.685 1.87-1.513 3.696-2.392 5.486a37.6 37.6 0 0 1-4.853 7.458c-1.466 1.762-3.1 3.393-4.737 5.002c-.906.889-1.972 1.614-2.966 2.414l-.258-.176l-.927-.792l-.959-2.104a31.7 31.7 0 0 1-1.065-7.516l.018-.428l.131-1.854c.043-.633.101-1.265.128-1.898c.096-2.276.182-4.554.273-6.832"
              clip-rule="evenodd"></path>
            <path
              fill="#4FAA41"
              fill-rule="evenodd"
              d="M64.792 62.527c-.09 2.278-.176 4.557-.273 6.835c-.027.634-.084 1.266-.128 1.898l-.584.221c-1.298-3.821-2.597-7.602-3.867-11.392c-2.101-6.271-4.176-12.551-6.274-18.824a3423 3423 0 0 0-5.118-15.176c-.081-.236-.311-.422-.471-.631l3.74-6.877c.129.223.298.432.379.672c1.73 5.12 3.457 10.241 5.169 15.367c2.228 6.67 4.441 13.343 6.667 20.014c.089.266.235.512.375.811l.512-.596z"
              clip-rule="evenodd"></path>
            <path
              fill="#4AA73C"
              fill-rule="evenodd"
              d="M48.076 25.458c.161.209.391.395.471.631a3380 3380 0 0 1 5.118 15.176c2.098 6.273 4.173 12.553 6.274 18.824c1.27 3.79 2.569 7.57 3.867 11.392l.584-.221l-.131 1.854l-.119.427c-.203 2.029-.374 4.062-.622 6.087c-.124 1.015-.389 2.011-.59 3.015c-.151-.219-.363-.418-.445-.661c-4.177-12.449-8.34-24.903-12.509-37.354a3011 3011 0 0 0-4.004-11.879c-.068-.201-.26-.359-.394-.537z"
              clip-rule="evenodd"></path>
            <path
              fill="#57AE47"
              fill-rule="evenodd"
              d="m64.918 54.849l-.512.596c-.14-.299-.286-.545-.375-.811c-2.226-6.671-4.439-13.344-6.667-20.014a4618 4618 0 0 0-5.169-15.367c-.081-.24-.25-.449-.379-.672l4.625-6.084c.146.194.354.367.429.586q1.925 5.64 3.822 11.289c1.182 3.518 2.346 7.04 3.542 10.552c.08.235.359.401.545.601l.01.798z"
              clip-rule="evenodd"></path>
            <path
              fill="#60B24F"
              fill-rule="evenodd"
              d="M64.779 35.525c-.187-.199-.465-.365-.545-.601c-1.195-3.512-2.36-7.034-3.542-10.552a2496 2496 0 0 0-3.822-11.289c-.075-.219-.283-.392-.429-.586c1.504-1.473 2.961-2.999 4.526-4.404c1.391-1.248 2.509-2.586 2.561-4.559l.11-.393l.396.998c-.01.504-.055 1.01-.022 1.512c.057.873.198 1.742.237 2.615c.073 1.625.108 3.253.141 4.88c.053 2.618.101 5.237.133 7.856l.137 12.554c.01.657.079 1.313.119 1.969"
              clip-rule="evenodd"></path>
            <path
              fill="#A9AA88"
              fill-rule="evenodd"
              d="M62.929 82.642c.201-1.004.466-2 .59-3.015c.248-2.024.419-4.058.622-6.087l.051-.008l.05.009a31.7 31.7 0 0 0 1.065 7.516c-.135.178-.324.335-.396.535c-.555 1.566-1.079 3.145-1.637 4.71c-.076.214-.29.381-.439.568l-.571-1.96z"
              clip-rule="evenodd"></path>
            <path
              fill="#B6B598"
              fill-rule="evenodd"
              d="M62.835 86.871c.149-.188.363-.354.439-.568c.558-1.565 1.082-3.144 1.637-4.71c.071-.2.261-.357.396-.535l.959 2.104c-.189.268-.451.511-.556.81l-1.836 5.392c-.076.217-.333.369-.507.552z"
              clip-rule="evenodd"></path>
            <path
              fill="#C2C1A7"
              fill-rule="evenodd"
              d="M63.367 89.915c.173-.183.431-.335.507-.552l1.836-5.392c.104-.299.367-.542.556-.81l.928.791c-.448.443-.697.955-.547 1.602l-.282.923c-.128.158-.314.296-.377.477c-.641 1.836-1.252 3.682-1.898 5.517c-.082.232-.309.415-.468.621z"
              clip-rule="evenodd"></path>
            <path
              fill="#CECDB7"
              fill-rule="evenodd"
              d="M63.621 93.091c.16-.206.387-.389.468-.621c.646-1.835 1.258-3.681 1.898-5.517c.063-.181.249-.318.377-.477l-.389 4.236c-.104.12-.254.225-.304.364l-1.294 3.708c-.091.253-.265.479-.401.716c-.121-.158-.337-.311-.347-.475c-.038-.642-.011-1.289-.008-1.934"
              clip-rule="evenodd"></path>
            <path
              fill="#DBDAC7"
              fill-rule="evenodd"
              d="M63.977 95.501c.136-.237.31-.463.401-.716l1.294-3.708c.05-.14.201-.244.304-.364l.01 2.78l-.931 2.387z"
              clip-rule="evenodd"></path>
            <path
              fill="#EBE9DC"
              fill-rule="evenodd"
              d="m65.055 95.88l.931-2.387l.192 2.824z"
              clip-rule="evenodd"></path>
            <path
              fill="#CECDB7"
              fill-rule="evenodd"
              d="M66.646 85.554c-.149-.646.099-1.158.547-1.602l.258.176z"
              clip-rule="evenodd"></path>
            <path
              fill="#4FAA41"
              fill-rule="evenodd"
              d="m64.242 73.542l-.05-.009l-.051.008l.119-.427z"
              clip-rule="evenodd"></path>
          </svg>MongoDB
        </div>

        <!-- MySQL -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--logos"
            width="36"
            height="64"
            viewBox="0 0 512 349"
          >
            <path
              fill="#00758F"
              d="m152.31 230.297l15.56 50.487c3.496 11.463 4.954 19.465 4.37 24.026q12.765-34.188 17.839-74.513h18.71q-12.069 65.65-31.827 95.41c-10.262 15.289-21.504 22.933-33.746 22.933c-3.264 0-7.288-.986-12.063-2.944v-10.55c2.333.342 5.07.525 8.218.525q8.565-.002 13.816-4.742c4.193-3.849 6.292-8.175 6.292-12.97c0-3.274-1.637-9.993-4.896-20.157l-21.68-67.505zM33.223 199.266l28.5 86.956h.176l28.675-86.956h23.428c5.13 43.124 8.16 82.581 9.09 118.346H103.34q-1.044-50.148-5.768-94.32H97.4l-30.078 94.32H52.28l-29.896-94.32h-.176q-3.325 42.422-4.196 94.32H0c1.164-42.08 4.077-81.525 8.739-118.346z"
            ></path>
            <path
              fill="#F29111"
              d="M352.498 197.51c30.657 0 45.986 19.586 45.986 58.739c0 21.276-4.61 37.347-13.821 48.204c-1.66 1.984-3.495 3.698-5.427 5.286l21.695 10.727l-.021-.001l-7.703 13.302l-28.253-16.485q-7.026 2.08-15.451 2.08c-15.053 0-26.297-4.387-33.731-13.15c-8.16-9.694-12.238-24.955-12.238-45.757c0-21.156 4.602-37.166 13.816-48.037c8.392-9.944 20.11-14.909 35.148-14.909m-93.88.172c10.957 0 20.92 2.932 29.894 8.775l-4.558 10.157c-7.679-3.264-15.25-4.903-22.716-4.903c-6.058 0-10.726 1.458-13.98 4.392c-3.272 2.908-5.296 6.65-5.296 11.212c0 7.01 4.994 13.089 14.215 18.225a816 816 0 0 1 9.031 5.011l.688.387l.345.194l.689.387l.344.194l.688.388c6.98 3.935 13.548 7.691 13.548 7.691c9.22 6.545 13.816 13.523 13.816 25.016c0 10.037-3.678 18.276-11.01 24.723c-7.337 6.418-17.194 9.636-29.538 9.636c-11.545 0-22.734-3.704-33.572-11.05l5.07-10.166c9.327 4.675 17.767 7.01 25.346 7.01c7.108 0 12.672-1.587 16.697-4.721c4.017-3.157 6.424-7.56 6.424-13.143c0-7.027-4.888-13.034-13.855-18.073a898 898 0 0 1-8.395-4.697l-.687-.389c-1.262-.713-2.533-1.435-3.778-2.142l-.675-.384c-6.055-3.444-11.29-6.453-11.29-6.453c-8.964-6.557-13.459-13.592-13.459-25.184c0-9.587 3.352-17.336 10.046-23.231q10.066-8.862 25.968-8.862m175.895 1.584v103.788h37.238v14.558h-56.124V199.266zm57.93 103.833v2.46h-4.094v12.04h-3.13v-12.04h-4.253v-2.46zm7.56 0l3.931 9.884l3.611-9.884h4.437v14.5h-2.95v-11.035l-4.11 11.035h-2.127l-4.117-11.035h-.158v11.035h-2.791v-14.5zM350.57 212.064c-18.066 0-27.104 14.91-27.104 44.71c0 17.07 2.395 29.448 7.176 37.163c4.428 7.14 11.363 10.703 20.806 10.703c18.066 0 27.103-15.026 27.103-45.064c0-16.831-2.395-29.103-7.17-36.822c-4.433-7.124-11.365-10.69-20.81-10.69"
            ></path>
            <path
              fill="#00758F"
              d="M303.218 7.333c5.993-14.726 26.948-3.574 35.08 1.57c1.993 1.287 4.279 4.006 6.564 5.011c3.565.14 7.127.419 10.698.568c6.698 1.574 12.972 2.86 18.25 5.866c24.528 14.445 40.495 29.165 55.19 53.479c3.14 5.15 4.709 10.723 7.274 16.296c3.56 8.307 7.56 17.027 11.692 24.882c1.85 3.724 3.281 7.865 5.85 11.01c1.003 1.438 3.852 1.862 5.555 2.721c4.708 2.437 10.412 4.287 14.84 7.147c8.269 5.156 16.264 11.3 23.532 17.59c2.709 2.428 4.555 5.865 7.136 8.433v1.296c-2.291.703-4.574 1.423-6.859 2c-4.991 1.282-9.412.992-14.254 2.275c-2.992.868-6.707 2.013-9.845 2.304l.29.292c1.846 5.275 11.834 9.565 16.402 12.72c5.548 4.004 10.689 8.86 14.827 14.437c1.429 1.423 2.858 2.718 4.28 4.137c.994 1.438 1.274 3.298 2.28 4.58v.434c-1.114-.393-1.915-1.143-2.674-1.927l-.453-.473c-.453-.47-.91-.932-1.431-1.313c-3.148-2.15-6.274-4.722-9.422-6.721c-5.412-3.434-11.689-5.427-17.246-8.874c-3.142-2.001-6.137-4.28-9.132-6.57c-2.715-2.007-5.705-5.861-7.411-8.721c-1.005-1.58-1.143-3.437-2.291-4.58c.205-1.909 1.954-2.476 3.719-2.942l.406-.107c.609-.158 1.205-.316 1.725-.525c7.414-3.148 16.253-4.29 27.667-4.004c-.43-2.866-7.562-6.437-9.839-8.153c-4.57-3.294-9.409-6.731-14.257-9.729c-2.569-1.57-6.996-2.716-9.842-3.999c-3.851-1.574-12.41-3.147-14.544-6.145c-3.625-4.726-6.229-10.363-8.757-16.057l-.688-1.554l-.69-1.553c-2.988-6.857-6.7-14.006-9.695-21.027c-1.566-3.425-2.285-6.431-4-9.716c-10.407-20.158-25.81-37.035-44.485-48.904c-6.137-3.862-12.98-7.436-20.534-9.865c-4.281-1.293-9.419-.578-13.98-1.57h-3.002c-2.562-.722-4.701-3.438-6.7-4.87c-4.415-2.998-8.837-5.011-14.117-7.15c-1.85-.858-7.133-2.856-8.977-1.283c-1.142.287-1.721.718-2.002 1.864c-1.136 1.71-.137 4.286.57 5.863c2.142 4.57 5.134 7.286 7.85 11.148c2.416 3.425 5.417 7.287 7.13 11.011c3.696 8.005 5.417 16.874 8.842 24.878c1.27 3.01 3.279 6.435 5.128 9.15c1.567 2.155 4.416 3.713 5.278 6.441c1.718 2.86-2.572 12.297-3.565 15.294c-3.715 11.727-2.995 28.028 1.283 38.193l.228.536l.228.543c1.562 3.723 3.234 7.732 7.387 8.773c.286-.284 0-.135.567-.284c1.005-7.868 1.288-15.445 4-21.601c1.567-3.849 4.696-6.57 6.841-9.712c1.43.856 1.43 3.437 2.282 5.145c1.856 4.43 3.849 9.287 6.137 13.73c4.696 9.15 9.98 18.021 15.967 26.025c2.005 2.859 4.85 6.006 7.416 8.581c1.143.997 2.423 1.573 3.282 2.856h.28v.432c-4.278-1.577-6.99-6.003-10.402-8.587c-6.424-4.857-14.117-12.151-18.545-19.15c-1.852-4.018-3.854-7.869-5.85-11.867v-.289c-.853 1.142-.567 2.276-.994 4.004c-1.852 7.145-.426 15.296-6.843 17.866c-7.274 3.01-12.7-4.857-14.977-8.432c-7.276-11.866-9.269-31.884-4.138-48.043c1.14-3.577 1.295-7.867 3.285-10.723c-.43-2.582-2.42-3.288-3.571-4.87c-1.996-2.704-3.705-5.854-5.268-8.857c-3.002-5.866-5.138-12.875-7.417-19.166c-1.002-2.569-1.289-5.148-2.288-7.58c-1.704-3.712-4.845-7.436-7.268-10.72c-3.281-4.72-12.837-13.868-8.985-23.168m46.772 28.015c.381.382.841.716 1.317 1.045l.574.394c.765.53 1.506 1.088 1.96 1.848c.72 1.006.854 1.999 1.716 3.007c0 3.437-.996 5.722-3.007 7.146c0 0-.137.15-.278.29c-1.14-2.291-2.139-4.57-3.287-6.859c-1.414-1.998-3.413-3.583-4.565-5.866h-.277v-.287c1.721-.425 3.428-.718 5.847-.718"
            ></path>
          </svg>MySQL
        </div>
        <!-- MySQL -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            viewBox="0 0 256 256"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMinYMin meet"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                d="M251.172 116.594L139.4 4.828c-6.433-6.437-16.873-6.437-23.314 0l-23.21 23.21 29.443 29.443c6.842-2.312 14.688-.761 20.142 4.693 5.48 5.489 7.02 13.402 4.652 20.266l28.375 28.376c6.865-2.365 14.786-.835 20.269 4.657 7.663 7.66 7.663 20.075 0 27.74-7.665 7.666-20.08 7.666-27.749 0-5.764-5.77-7.188-14.235-4.27-21.336l-26.462-26.462-.003 69.637a19.82 19.82 0 0 1 5.188 3.71c7.663 7.66 7.663 20.076 0 27.747-7.665 7.662-20.086 7.662-27.74 0-7.663-7.671-7.663-20.086 0-27.746a19.654 19.654 0 0 1 6.421-4.281V94.196a19.378 19.378 0 0 1-6.421-4.281c-5.806-5.798-7.202-14.317-4.227-21.446L81.47 39.442l-76.64 76.635c-6.44 6.443-6.44 16.884 0 23.322l111.774 111.768c6.435 6.438 16.873 6.438 23.316 0l111.251-111.249c6.438-6.44 6.438-16.887 0-23.324"
                fill="#DE4C36"></path></g
            ></svg
          >Git
        </div>
        <!-- Postman -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            viewBox="0 0 256 256"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            preserveAspectRatio="xMidYMid"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M254.953118,144.253071 C263.911504,74.1217108 214.38443,10.0052669 144.381048,1.04688158 C74.3776647,-7.9115038 10.0052669,41.6155696 1.04688158,111.618952 C-7.9115038,181.622335 41.6155696,245.866756 111.618952,254.953118 C181.750312,263.911504 245.866756,214.38443 254.953118,144.253071 Z"
                  fill="#FF6C37"
                >
                </path>
                <g transform="translate(50.181225, 45.198924)">
                  <path
                    d="M124.018448,36.9853339 L70.012182,90.9916 L54.7829269,75.7623449 C107.893354,22.6519173 113.140409,27.2590869 124.018448,36.9853339 L124.018448,36.9853339 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M70.012182,92.2713693 C69.6282512,92.2713693 69.3722974,92.1433924 69.1163435,91.8874385 L53.7591114,76.6581834 C53.2472037,76.1462757 53.2472037,75.3784141 53.7591114,74.8665063 C107.765378,20.8602402 113.396363,25.9793176 124.78631,36.2174723 C125.042264,36.4734262 125.170241,36.72938 125.170241,37.1133108 C125.170241,37.4972416 125.042264,37.7531955 124.78631,38.0091494 L70.7800436,91.8874385 C70.6520667,92.1433924 70.2681359,92.2713693 70.012182,92.2713693 Z M56.574604,75.7623449 L70.012182,89.1999229 L122.098794,37.1133108 C112.628501,28.6668332 106.229654,26.1072945 56.574604,75.7623449 L56.574604,75.7623449 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M85.497391,106.476809 L70.7800436,91.7594616 L124.78631,37.7531955 C139.247703,52.342566 117.619601,76.0182987 85.497391,106.476809 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M85.497391,107.756578 C85.1134602,107.756578 84.8575064,107.628601 84.6015525,107.372648 L69.8842051,92.6553001 C69.6282512,92.3993463 69.6282512,92.1433924 69.6282512,91.7594616 C69.6282512,91.3755308 69.7562282,91.1195769 70.012182,90.8636231 L124.018448,36.857357 C124.530356,36.3454492 125.298217,36.3454492 125.810125,36.857357 C129.137525,39.9288034 130.929203,44.2800191 130.801226,48.7592118 C130.545272,62.9646515 114.420178,81.0093992 86.5212065,107.372648 C86.1372757,107.628601 85.7533449,107.756578 85.497391,107.756578 L85.497391,107.756578 Z M72.5717207,91.7594616 C80.7622445,100.077962 84.2176217,103.405363 85.497391,104.685132 C106.997516,84.2088225 127.857756,63.2206053 127.985733,48.7592118 C128.11371,45.4318115 126.833941,42.1044113 124.658333,39.5448726 L72.5717207,91.7594616 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M55.0388808,76.1462757 L65.9169201,87.024315 C66.172874,87.2802689 66.172874,87.5362228 65.9169201,87.7921767 C65.7889432,87.9201536 65.7889432,87.9201536 65.6609663,87.9201536 L43.1370259,92.7832771 C41.9852335,92.911254 40.961418,92.1433924 40.7054642,90.9916 C40.5774872,90.3517153 40.8334411,89.7118307 41.2173719,89.3278999 L54.2710192,76.2742526 C54.526973,76.0182987 54.9109038,75.8903218 55.0388808,76.1462757 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M42.7530951,94.0630464 C40.8334411,94.0630464 39.4256948,92.5273232 39.4256948,90.6076692 C39.4256948,89.7118307 39.8096256,88.8159921 40.4495103,88.1761075 L53.5031576,75.1224602 C54.2710192,74.4825755 55.2948346,74.4825755 56.0626962,75.1224602 L66.9407356,86.0004996 C67.7085972,86.6403842 67.7085972,87.7921767 66.9407356,88.5600383 C66.6847817,88.8159921 66.4288279,88.9439691 66.0448971,89.071946 L43.5209567,93.9350695 C43.2650028,93.9350695 43.009049,94.0630464 42.7530951,94.0630464 L42.7530951,94.0630464 Z M54.65495,77.5540219 L42.1132104,90.0957615 C41.8572566,90.3517153 41.7292796,90.7356461 41.9852335,91.1195769 C42.1132104,91.5035077 42.4971412,91.6314847 42.881072,91.5035077 L63.9972661,86.8963381 L54.65495,77.5540219 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M152.557304,7.03873136 C144.366781,-0.895838537 131.185156,-0.639884669 123.250587,7.67861603 C115.316017,15.9971167 115.57197,29.050764 123.890471,36.9853339 C130.673249,43.5121575 140.911403,44.6639499 148.97395,39.8008264 L134.38458,25.211456 L152.557304,7.03873136 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M138.223888,44.0240653 C126.066079,44.0240653 116.211855,34.1698413 116.211855,22.0120326 C116.211855,9.85422391 126.066079,-1.81866161e-14 138.223888,-1.81866161e-14 C143.854873,-1.81866161e-14 149.357881,2.17560788 153.453143,6.14289283 C153.709097,6.39884669 153.837074,6.65480056 153.837074,7.03873136 C153.837074,7.42266217 153.709097,7.67861603 153.453143,7.9345699 L136.176257,25.211456 L149.741812,38.777011 C150.25372,39.2889187 150.25372,40.0567803 149.741812,40.568688 C149.613835,40.696665 149.613835,40.696665 149.485858,40.8246419 C146.158458,42.8722729 142.191173,44.0240653 138.223888,44.0240653 Z M138.223888,2.68751561 C127.473825,2.68751561 118.771394,11.3899471 118.899371,22.1400096 C118.899371,32.890072 127.601802,41.5925035 138.351865,41.4645266 C141.295334,41.4645266 144.238804,40.8246419 146.926319,39.4168956 L133.488741,26.1072945 C133.232787,25.8513406 133.10481,25.5953868 133.10481,25.211456 C133.10481,24.8275252 133.232787,24.5715713 133.488741,24.3156174 L150.63765,7.1667083 C147.182273,4.22323882 142.831057,2.68751561 138.223888,2.68751561 L138.223888,2.68751561 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M152.941235,7.42266217 L152.685281,7.1667083 L134.38458,25.211456 L148.845973,39.6728495 C150.25372,38.777011 151.661466,37.7531955 152.813258,36.6014031 C161.003782,28.5388563 161.003782,15.485209 152.941235,7.42266217 L152.941235,7.42266217 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M148.97395,41.0805958 C148.590019,41.0805958 148.334066,40.9526188 148.078112,40.696665 L133.488741,26.1072945 C133.232787,25.8513406 133.10481,25.5953868 133.10481,25.211456 C133.10481,24.8275252 133.232787,24.5715713 133.488741,24.3156174 L151.661466,6.14289283 C152.173374,5.63098509 152.941235,5.63098509 153.453143,6.14289283 L153.837074,6.39884669 C162.411528,14.9733013 162.411528,28.7948101 153.965051,37.4972416 C152.685281,38.777011 151.277535,39.9288034 149.741812,40.8246419 C149.357881,40.9526188 149.101927,41.0805958 148.97395,41.0805958 L148.97395,41.0805958 Z M136.176257,25.211456 L149.101927,38.1371263 C150.125743,37.4972416 151.149558,36.6014031 151.91742,35.8335415 C159.212105,28.5388563 159.596036,16.6370014 152.557304,8.95838537 L136.176257,25.211456 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M126.194056,39.2889187 C123.12261,36.2174723 118.131509,36.2174723 115.060063,39.2889187 L66.8127587,87.5362228 L74.8753055,95.5987696 L125.938102,50.8068428 C129.265502,47.9913502 129.521456,43.0002498 126.705964,39.6728495 C126.45001,39.5448726 126.322033,39.4168956 126.194056,39.2889187 L126.194056,39.2889187 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M74.7473286,96.878539 C74.3633978,96.878539 74.1074439,96.750562 73.85149,96.4946082 L65.7889432,88.4320613 C65.2770355,87.9201536 65.2770355,87.152292 65.7889432,86.6403842 L114.036247,38.3930802 C117.619601,34.809726 123.378563,34.809726 126.961918,38.3930802 C130.545272,41.9764343 130.545272,47.7353963 126.961918,51.3187505 C126.833941,51.4467274 126.705964,51.5747044 126.577987,51.7026813 L75.5151902,96.4946082 C75.3872133,96.750562 75.1312594,96.878539 74.7473286,96.878539 L74.7473286,96.878539 Z M68.6044358,87.5362228 L74.8753055,93.8070925 L125.042264,49.7830273 C127.857756,47.4794425 128.11371,43.2562037 125.810125,40.4407111 C123.50654,37.6252186 119.283302,37.3692647 116.467809,39.6728495 C116.339832,39.8008264 116.211855,39.9288034 115.955901,40.0567803 L68.6044358,87.5362228 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M29.8274248,142.438327 C29.3155171,142.694281 29.0595632,143.206189 29.1875401,143.718097 L31.363148,152.932436 C31.8750557,154.212205 31.1071941,155.747929 29.6994479,156.131859 C28.6756324,156.51579 27.52384,156.131859 26.8839553,155.363998 L12.8064926,141.414512 L58.7502118,95.4707927 L74.6193516,95.7267466 L85.3694141,106.476809 C82.8098754,108.652417 67.3246664,123.625718 29.8274248,142.438327 L29.8274248,142.438327 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M28.8036093,157.411629 C27.7797938,157.411629 26.7559784,157.027698 26.1160937,156.259836 L12.1666079,142.31035 C11.910654,142.054397 11.7826771,141.798443 11.7826771,141.414512 C11.7826771,141.030581 11.910654,140.774627 12.1666079,140.518673 L58.1103272,94.5749541 C58.366281,94.3190003 58.7502118,94.1910233 59.0061657,94.1910233 L74.8753055,94.4469772 C75.2592363,94.4469772 75.5151902,94.5749541 75.7711441,94.830908 L86.5212065,105.58097 C86.7771604,105.836924 86.9051373,106.220855 86.9051373,106.604786 C86.9051373,106.988717 86.7771604,107.244671 86.3932296,107.500624 L85.497391,108.268486 C71.931836,120.170341 53.5031576,132.072196 30.5952864,143.462143 L32.7708943,152.548505 C33.1548251,154.212205 32.3869635,156.003882 30.8512403,156.899721 C30.0833787,157.283652 29.443494,157.411629 28.8036093,157.411629 Z M14.7261466,141.414512 L27.9077708,154.468159 C28.2917016,155.108044 29.0595632,155.363998 29.6994479,154.980067 C30.3393325,154.596136 30.5952864,153.828275 30.2113556,153.18839 L28.0357477,143.974051 C27.7797938,142.822258 28.2917016,141.798443 29.3155171,141.286535 C51.9674343,129.896588 70.2681359,118.12271 83.705714,106.476809 L74.2354208,97.0065159 L59.5180734,96.750562 L14.7261466,141.414512 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M1.9284532,152.420528 L12.9344695,141.414512 L29.3155171,157.795559 L3.20822254,156.003882 C2.05643013,155.875905 1.28856853,154.85209 1.41654546,153.700298 C1.41654546,153.18839 1.5445224,152.676482 1.9284532,152.420528 L1.9284532,152.420528 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M29.3155171,158.947352 L3.0802456,157.155675 C1.16059159,157.027698 -0.119177745,155.363998 0.00879918845,153.444344 C0.136776122,152.676482 0.39272999,151.908621 1.03261466,151.396713 L12.038631,140.390696 C12.5505387,139.878789 13.3184003,139.878789 13.830308,140.390696 L30.2113556,156.771744 C30.5952864,157.155675 30.7232633,157.667583 30.4673095,158.17949 C30.2113556,158.691398 29.8274248,158.947352 29.3155171,158.947352 L29.3155171,158.947352 Z M12.9344695,143.206189 L2.82429173,153.316367 C2.44036093,153.572321 2.44036093,154.212205 2.82429173,154.468159 C2.95226867,154.596136 3.0802456,154.724113 3.33619947,154.724113 L25.9881168,156.259836 L12.9344695,143.206189 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M54.2710192,101.357732 C53.5031576,101.357732 52.9912498,100.717847 52.9912498,100.077962 C52.9912498,99.6940315 53.1192268,99.4380776 53.3751806,99.1821238 L65.7889432,86.7683612 C66.3008509,86.2564534 67.0687125,86.2564534 67.5806203,86.7683612 L75.6431671,94.830908 C76.0270979,95.2148388 76.1550749,95.5987696 76.0270979,96.1106774 C75.899121,96.4946082 75.5151902,96.878539 75.0032825,97.0065159 L54.526973,101.357732 C54.3989961,101.357732 54.2710192,101.357732 54.2710192,101.357732 L54.2710192,101.357732 Z M66.6847817,89.4558768 L58.2383041,97.9023544 L72.059813,94.9588849 L66.6847817,89.4558768 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M74.6193516,95.7267466 L60.5418889,98.798193 C59.5180734,99.0541468 58.494258,98.4142622 58.2383041,97.3904467 C58.1103272,96.750562 58.2383041,96.1106774 58.7502118,95.5987696 L66.5568048,87.7921767 L74.6193516,95.7267466 Z"
                    fill="#FFFFFF"
                  >
                  </path>
                  <path
                    d="M60.2859351,100.077962 C58.494258,100.077962 57.0865117,98.670216 57.0865117,96.878539 C57.0865117,95.9827004 57.4704425,95.2148388 57.9823502,94.5749541 L65.7889432,86.7683612 C66.3008509,86.2564534 67.0687125,86.2564534 67.5806203,86.7683612 L75.6431671,94.830908 C76.0270979,95.2148388 76.1550749,95.5987696 76.0270979,96.1106774 C75.899121,96.4946082 75.5151902,96.878539 75.0032825,97.0065159 L60.9258197,100.077962 C60.6698659,100.077962 60.413912,100.077962 60.2859351,100.077962 L60.2859351,100.077962 Z M66.6847817,89.4558768 L59.7740273,96.3666312 C59.5180734,96.6225851 59.5180734,96.878539 59.6460504,97.1344928 C59.7740273,97.3904467 60.0299812,97.5184236 60.413912,97.5184236 L72.1877899,94.9588849 L66.6847817,89.4558768 Z"
                    fill="#FF6C37"
                  >
                  </path>
                  <path
                    d="M153.069212,19.7084478 C152.813258,18.9405862 151.91742,18.5566554 151.149558,18.8126093 C150.381697,19.0685632 149.997766,19.9644017 150.25372,20.7322633 C150.25372,20.8602402 150.381697,20.9882172 150.381697,21.1161941 C151.149558,22.6519173 150.893604,24.5715713 149.869789,25.9793176 C149.357881,26.6192023 149.485858,27.5150408 149.997766,28.0269485 C150.63765,28.5388563 151.533489,28.4108793 152.045397,27.7709947 C153.965051,25.3394329 154.348981,22.2679865 153.069212,19.7084478 L153.069212,19.7084478 Z"
                    fill="#FF6C37"
                  >
                  </path>
                </g>
              </g>
            </g></svg
          >
          Postman
        </div>
        <!-- Figma -->
        <div
          class="inline-flex items-center justify-center rounded bg-zinc-700 px-2 py-1 text-xs"
        >
          <svg
            class="mr-1 size-4"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 300"
            ><style>
              .st0 {
                fill: #0acf83;
              }
              .st1 {
                fill: #a259ff;
              }
              .st2 {
                fill: #f24e1e;
              }
              .st3 {
                fill: #ff7262;
              }
              .st4 {
                fill: #1abcfe;
              }
            </style><title>Figma.logo</title><desc>Created using Figma</desc
            ><path
              id="path0_fill"
              class="st0"
              d="M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z"
            ></path><path
              id="path1_fill"
              class="st1"
              d="M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z"
            ></path><path
              id="path1_fill_1_"
              class="st2"
              d="M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z"
            ></path><path
              id="path2_fill"
              class="st3"
              d="M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50V0z"
            ></path><path
              id="path3_fill"
              class="st4"
              d="M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z"
            ></path></svg
          >

          Figma
        </div>
      </div>
    </div>

    <!-- Education -->
    <div>
      <h4 class="mb-6 flex items-center">
        <i class="fa-solid fa-award text-xl text-violet-400"></i>
        <span class="ml-2 font-bold">Certifications Earned</span>
        <p></p>
      </h4>

      <!-- Certifications -->
      <div class="mb-12 flex flex-wrap gap-2">
        <span class="rounded bg-zinc-700 px-2 py-1 text-xs hover:bg-violet-400">
          <a
            class="no-underline text-zinc-50 visited:text-zinc-50 hover:text-white"
            href="https://www.freecodecamp.org/certification/rohankumar/responsive-web-design"
            target="_blank"
            ><i class="fas fa-code mr-1"></i>Responsive Web Design
          </a>
        </span>
        <span class="rounded bg-zinc-700 px-2 py-1 text-xs hover:bg-violet-400">
          <a
            class="no-underline text-zinc-50 visited:text-zinc-50 hover:text-white"
            href="https://www.freecodecamp.org/certification/rohankumar/javascript-algorithms-and-data-structures"
            target="_blank"
            ><i class="fas fa-code mr-1"></i>Javascript Algorithms & Data
          </a>
        </span>
        <span class="rounded bg-zinc-700 px-2 py-1 text-xs hover:bg-violet-400">
          <a
            class="no-underline text-zinc-50 visited:text-zinc-50 hover:text-white"
            href="https://www.freecodecamp.org/certification/rohankumar/front-end-development-libraries"
            target="_blank"
            ><i class="fas fa-code mr-1"></i>Front End Libraries
          </a>
        </span>
        <span class="rounded bg-zinc-700 px-2 py-1 text-xs hover:bg-violet-400">
          <a
            class="no-underline text-zinc-50 visited:text-zinc-50 hover:text-white"
            href="https://www.freecodecamp.org/certification/rohankumar/back-end-development-and-apis"
            target="_blank"
            ><i class="fas fa-code mr-1"></i>Back End Development & APIs
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
